@using MarauderMap.Solutions
@using MarauderMap.Desktop.Blazor.Components.ContextMenus

@if (Root is not null)
{
    <nav class="d-md-block bg-white sidebar" @onclick:stopPropagation @onmouseup="OnMouseUpAsync">
        <div class="tree">
            <Node NodeModel="Root" NestedLevel="0" OnClickCallback="OnNodeClickAsync"></Node>
        </div>
    </nav>
    <ContextMenu @ref="_contextMenu"></ContextMenu>
}

@code {
    
        [Parameter]
        public TreeNodeDto Root { get; set; }

        public Node SelectedNodeReference { get; private set; }

        private ContextMenu _contextMenu;

        private Task OnNodeClickAsync(object arg)
        {
            if (arg is not Node clickNode)
            {
                return Task.CompletedTask;
            }

            // TODO: Better way(Decoupled) to set selected state
            if (SelectedNodeReference is not null)
            {
                SelectedNodeReference.IsSelected = false;
            }
            SelectedNodeReference = clickNode;

            return Task.CompletedTask;
        }

        private Task OnMouseUpAsync(MouseEventArgs e)
        {
            if (e.Button == 2)
            {
                _contextMenu.ShowAsync(e.ClientX, e.ClientY);
            }
            return Task.CompletedTask;
        }
}