html, body {
    height: 100%;
}

.container {
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    width: 315px;
    overflow-x: auto;
}

.tree {
    width: auto;
    display: inline-block;
}
