@page "/designer/{SolutionPath}"
@inherits MarauderMapComponentBase

<div class="row">
    <SolutionSidebar Root="Solution?.RootNode"></SolutionSidebar>
    <main role="main" class="col-md-8 ml-sm-auto col-lg-9 px-md-4"></main>
</div>
